body {
    font-family: 'Roboto Mono';
    text-align: center;
}

.image {
    max-height: 70vh;
    padding-bottom: 10px;
}

input {
    height: 40px;
    width: 25%;
    font-size: large;
    margin-bottom: 10px;
}

button {
    height: 40px;
    font-size: large;
    width: 25%;
    padding: 5px;
    font: bold sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
  }
  
  button:after {
    content: " >>>";
  }
  
  button:hover,
  button:focus {
    outline: none;
    background: #000;
    color: #fff;
  }